.show-red
{
    color: red;
}
.show-green
{
    color: green;
}
.show-black
{
    color: black;
}

.table1
{
    width: 680px;
    font-size: small;
    table-layout: fixed;
}
.table1 .td
{
    width: 85px;
}

.div1
{
    width: 680px;
}

.div1 img
{
    width: 100%;
}